@font-face {
    font-family: 'Neue Machina';
    src: url('neuemachina-light.woff2') format('woff2'),
         url('neuemachina-light.woff') format('woff');
    /* Add other font formats if available */
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Neue Machina', Arial, sans-serif;
    background-color: #000000;
    color: #aea49f;
    margin: 0;
    padding: 1rem;
    line-height: 1.6;
}

.profile-link {
    text-decoration: none;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.menu {
    margin-top: 1rem;
}

.body-container {
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #aea49f;
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
}

p {
    margin-bottom: 1rem;
    text-align: center;
}

a {
    color: #447c9c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}