/* Reset styles */
html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Dark mode styles */
body {
  background: radial-gradient(circle, #000000, #6e6d72);
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  background-image: url("img/pfp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 0 auto 20px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main section {
  margin-bottom: 40px;
}

main section h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

main section h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
}

a {
  color: #a0d7d5; /* Set the desired color for the links */
  text-decoration: none;
}

a:hover {
  color: #b7ddc3; /* Set the color for the links on hover */
}
